body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #121212;
    color: #FFFFFF;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    min-height: 100vh;
}

header {
    text-align: center;
    padding: 20px;
}

h1 {
    font-size: 2em;
    margin: 0;
}

main {
    text-align: center;
    padding: 20px;
    max-width: 850px;
}

.projects-container {
    display: block;
}

.project {
    text-align: left;
    background-color: #1E1E1E;
    padding: 20px;
    margin: 20px 0;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.project h2 {
    margin-top: 0;
}

.project a {
    color: #1E90FF; 
    text-decoration: none;
    transition: color 0.3s ease;
}

.project a:hover {
    color: #00BFFF; 
}

.donate-button {
    background-color: #007BFF;
    color: #FFFFFF;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-right: 10px; 
}

.donate-button:hover {
    background-color: #0056b3;
}

.claim-button {
    background-color: #FF0000;
    color: #FFFFFF;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-right: 10px; 
}

.claim-button:hover {
    background-color: #CC0000;
}

footer {
    text-align: center;
    padding: 20px;
    font-size: 0.9em;
}

.project-image {
    max-width: 100%;
    height: auto;
    margin-bottom: 10px;
}

.donate-button.disabled {
    background-color: #cccccc;
    color: #666666;
    cursor: not-allowed;
  }
  
  .donate-button.disabled:hover {
    background-color: #cccccc;
  }

  .donate-button.disabled::after {
    content: " ?";
    font-weight: bold;
    margin-left: 5px;
  }